<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<br><br>
		<h1 class="header center orange-text">Bienvenido a CommApp</h1>
		<div class="row center">
		<h5 class="header col s12 light">A modern responsive Press releases tool.</h5>
		</div>
		<div class="row center">
		<a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
		</div>
		<br><br>

	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col l12">
			<h3>Hello!</h3>
			<p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi possimus maxime laboriosam corrupti, voluptate enim placeat ratione. Nam doloremque nemo minima sequi animi ullam, ab alias, veniam ipsa itaque rerum!</p>
		</div>
	</div>
</div>
