
<div class="row">
    <div class="col s12 m8 l8">
        <div class="card">
            <h2>BusinessManagers#index</h2>
			<p><%= @business_manager.count %></p>

			<% @business_manager.each do |bm| %>
			<p><%= bm.name %></p>
            <h3>Groups</h3>

                

			<% end %>
        </div>
    </div>

    <div class="col s12 m4 l4">
        <div class="card">
          <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia modi, itaque debitis quod dolore tenetur distinctio possimus vel iusto omnis nisi? Adipisci aut est eos quaerat quibusdam! Illo quidem, eius?</p>
        </div>
    </div>

</div>